{% import 'appbuilder/general/lib.html' as lib %}

{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}
{% set WARNING_MSG = appbuilder.app.config.get('WARNING_MSG') %}
{% set app_icon_width = appbuilder.app.config.get('APP_ICON_WIDTH', 126) %}
{% set app_icon_sm = appbuilder.app.config.get('APP_ICON_SM') %}
{% set app_icon_sm_width = appbuilder.app.config.get('APP_ICON_SM_WIDTH', 30) %}
{% set logo_target_path = appbuilder.app.config.get('LOGO_TARGET_PATH') or '/profile/{}/'.format(current_user.username) %}
{% set bug_report_url = appbuilder.app.config.get('BUG_REPORT_URL') %}
{% set locale = session['locale'] %}
{% if not locale %}
{% set locale = 'en' %}
{% endif %}
<html>

<head>
    <title>
        {% block title %}
        {% if title %}
        {{ title }}
        {% elif appbuilder and appbuilder.app_name %}
        {{ appbuilder.app_name }}
        {% endif %}
        {% endblock %}
    </title>
    {% block head_meta %}{% endblock %}
    {% block head_css %}
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/appbuilder/css/flags/flags16.css" />
    <link rel="stylesheet" type="text/css" href="/static/appbuilder/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/header_top.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/static/assets/stylesheets/font-face.css">
    <link href="//cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />
    {% for entry in get_unloaded_chunks(css_manifest('theme'), loaded_chunks) %}
    <link rel="stylesheet" type="text/css" href="{{ entry }}" />
    {% endfor %}

    {% if entry %}
    {% set entry_files = css_manifest(entry) %}
    {% for entry in get_unloaded_chunks(entry_files, loaded_chunks) %}
    <link rel="stylesheet" type="text/css" href="{{ entry }}" />
    {% endfor %}
    {% endif %}

    {% endblock %}


    {% with filename="theme" %}
    {% include "superset/partials/_script_tag.html" %}
    {% endwith %}
    <!-- Hotjar Tracking Code for magentaconnect.com -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1527096, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() if csrf_token else '' }}">
</head>

<body {% if standalone_mode %}class="standalone" {% endif %}>
    <div class="loader_bg">
        <div class="loader">
            <img src="/static/assets/images/loading.gif">
        </div>
    </div>
    <div class="wrapper">
        <div class="navbar-bg"></div>
        <div class="content-body-max content-body-mini">
            {% block navbar %}
            {% include 'custom/navbar.html' %}
            {% endblock %}

            {% block body %}
            {% endblock %}

        </div>
        <div class="sidebar sidebar-style-2 sidebar-max sidebar-mini">
            {% include 'custom/sidebar.html' %}
        </div>


        <!-- Modal for misc messages / alerts  -->
        <div class="misc-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% block tail_js %}
        {% if entry %}
        {% with filename=entry %}
        {% include "superset/partials/_script_tag.html" %}
        {% endwith %}
        {% endif %}
        {% endblock %}
    </div>
</body>
{% include 'custom/custom_scripts.html' %}

</html>