<!-- extend base layout -->
{% extends "custom/masters/base_login_layout.html" %}

{% block content %}

<div class="form-part">

    <form class="form" action="" method="post" name="login">
        {{form.hidden_tag()}}
        <!-- <div class="help-block">{{_("Enter your login and password below")}}:</div> -->
        <div class="control-group{% if form.errors.openid is defined %} error{% endif %}">
            <label class="control-label" for="openid">{{_("Username")}}:</label>

            <div class="controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    {{ form.username(size = 80, class = "form-control", autofocus = true) }}
                </div>
                {% for error in form.errors.get('openid', []) %}
                <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
                <label class="control-label" for="openid">{{_("Password")}}:</label>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    {{ form.password(size = 80, class = "form-control") }}
                </div>
                {% for error in form.errors.get('openid', []) %}
                <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls row">
                <div class="col-md-12 text-right">
                    <a href="{{url_for('forgot_password')}}" class="blue-text" id="forgotpasswordID">Forgot
                        Password?</a>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls row">
                <br>
                <div class="col-md-6">
                    <input class="btn btn-primary btn-block signin-btn" type="submit" value="{{_('Sign In')}}">
                    {% if appbuilder.sm.auth_user_registration %}
                    <a href="{{appbuilder.sm.get_url_for_registeruser}}" class="btn btn-block btn-primary"
                        data-toggle="tooltip" rel="tooltip"
                        title="{{_('If you are not already a user, please register')}}">
                        {{_('Register')}}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls row">
                <div class="col-md-12">
                    <b>
                        <p><span class="gray-text">Dont have an Account?</span> <a href="#" class="blue-text">Sign
                                In</a></p>
                    </b>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock %}